html, body {
  height: 100%;
  margin: 0;
  background: #eee;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  height: 100%;
  display: flex;
  font-size: 12px;
}

.nav {
  width: 256px;
  min-width: 256px;
  border-right: lightgray .25em solid;
  padding: .5em;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tabs {
  background: lightgray;
  overflow-x: scroll;
  white-space: nowrap;
  max-width: 100%;
  border-bottom: 1px solid #eee;
  flex-shrink: 0;
  height: 2em;
  padding-top: .25em;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  background: none;
  border: none;
  white-space: nowrap;
  line-height: 1;
  padding: 0;
  font-size: 12px;
}

.tab.selected {
  background: #eee;
}

.tab>.tab-label {
  display: inline-block;
  padding: .5em 1em;
  min-width: 5em;
}

.tab>.tab-close {
  display: inline-block;
  padding: .5em;
  width: 1em;
}

.tab.selected>.tab-close:hover {
  background-color: pink;
}

.tab:not(.selected):hover>.tab-label {
  text-decoration: underline;
}

.tab:not(.selected)>.tab-close {
  display: none;
  pointer-events: none;
}

.tab.marked>.tab-label {
  font-weight: bold;
}

.tab.marked>.tab-label:before {
  content: "* ";
}

.body {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: auto;
}