.property-editor {
  user-select: none;
}

.property-editor input,
.property-editor textarea,
.property-editor select,
.property-editor button {
  background-color: white;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  resize: vertical;
}

.property-editor button {
  background-color: #eee;
}

.property-editor button:not(:disabled):hover {
  background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05));
}

.property-editor button:not(:disabled):active {
  background-image: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15));
}

.property-editor input,
.property-editor textarea,
.property-editor select,
.property-editor table {
  width: 15em;
}

.property-editor input[type="number"],
.property-editor input[type="checkbox"],
.property-editor input[type="color"] {
  width: 7.5em;
}

.property-editor input:disabled,
.property-editor textarea:disabled,
.property-editor select:disabled,
.property-editor button:disabled {
  background-color: #eee;
  border-color: #aaa;
  color: #aaa;
}

.property-editor .indexed-collection {
  border-left: .5em solid lightgray;
  width: fit-content;
}

.property-editor .indexed-collection>div:nth-child(1) {
  background: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: .75rem;
  padding-left: 0;
  white-space: nowrap;
}

.property-editor .indexed-collection.disabled>div:nth-child(1)>span {
  color: #888;
}

.property-editor .indexed-collection>div:nth-child(1)>span {
  display: inline-block;
  padding: 0 1rem;
  margin-left: 2px;
}

.property-editor .indexed-collection>div:nth-child(1)>span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.property-editor .indexed-collection>div:nth-child(1)>select {
  min-width: 10em;
}

.property-editor .indexed-collection>div:nth-child(1)>button {
  margin-left: .25em;
}

.property-editor .indexed-collection.collapsed>div:nth-child(1)>button {
  display: none;
}

.property-editor .indexed-collection>div:nth-child(2) {
  padding: 1rem;
}

.property-editor .indexed-collection.collapsed>div:nth-child(2) {
  display: none;
}

.property-editor .keyed-collection {
  width: 100%;
}

.property-editor .keyed-collection.disabled {
  color: #888;
}

.property-editor .keyed-collection>tbody>tr>td:nth-child(1):not(:last-child) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding-right: 1rem;
  width: 0;
}